
  <!-- Bottom Nav bar-->
  <ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="explore">
      <ion-icon name="location"></ion-icon>
      Explore
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <ion-icon name="chatbox"></ion-icon>
      Chat
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>